@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  src: 
       url('./Assets/Fonts/mulish-v10-latin-regular.woff2') format('woff2'), 
       url('./Assets/Fonts/mulish-v10-latin-regular.woff') format('woff'); 
}

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  src: 
       url('./Assets/Fonts/mulish-v10-latin-700.woff2') format('woff2'), 
       url('./Assets/Fonts/mulish-v10-latin-700.woff') format('woff'); 
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Mulish", "Arial", sans-serif;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0; 
}

#root {
  height: 100%;
  display: flex;
  margin-top: 30px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.main,
main {
  flex-grow: 1;
}

.container {
  display: flex;
  max-width: 1620px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}